<!DOCTYPE html>
<html>
<head>

</head>
<body>
        <h1>Your Rate!</h1>
        <p>"<%= type %>" weighing <%= weight %> will cost: $<%= result %></p>

    <form action="/form.html" method="get">
        <input type="submit" value="Calculate Another Rate">
    </form>
</body>
</html>